body{
  background-color: rgb(181, 220, 254);
}

.container {
  display: flex;
  flex-direction: row;
}


.card-title {
  border: 1px solid lightblue;
  text-align: center;
}


img {
  margin: 0 auto;
  display: flex;
  height: 100px;
  width: 100px;
}

.card-link {
  display: flex;
  background-color: darkgrey;
  color:yellow;
}
